@model MyAzureBlog.Models.Entry

@{
    ViewBag.Title = Html.DisplayFor(m=>m.Title);
    ViewBag.Description = Html.DisplayFor(m=>m.Description);
    ViewBag.Keywords = Html.DisplayFor(m=>m.Keywords);
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section head
    {
        <link type="text/css" rel="stylesheet" href="~/Content/Highlighter/shCore.css" />
        <link type="text/css" rel="stylesheet" href="~/Content/Highlighter/shThemeDefault.css" />
        <script type="text/javascript" src="~/Content/Highlighter/shCore.js"></script>
        <script type="text/javascript" src="~/Content/Highlighter/shBrushCSharp.js"></script>
        <script type="text/javascript" src="~/Content/Highlighter/shBrushXml.js"></script>
        <script type="text/javascript">
            SyntaxHighlighter.config.strings.expandSource = '+ expand source';
            SyntaxHighlighter.config.strings.help = '?';
            SyntaxHighlighter.config.strings.alert = 'SyntaxHighlighter\n\n';
            SyntaxHighlighter.config.strings.noBrush = 'Fırça bulunamadı :';
            SyntaxHighlighter.config.strings.brushNotHtmlScript = 'Firca Html-script seçenegi için yapilandirilmis degil: ';
            SyntaxHighlighter.defaults['pad-line-numbers'] = false;
            SyntaxHighlighter.defaults['toolbar'] = false;
            SyntaxHighlighter.all();
        </script>    

        <script src="~/Content/Js/angular.min.js"></script>
        <script src="~/Content/Js/angular-sanitize.js"></script>
    }
}

<div>
    <h3>@Html.DisplayFor(m => m.Title)</h3>

    
    <div id="ContentContainer">
        @Html.Raw(ViewBag.Content)
    </div>
    <!-- Sağ kolon ypala 14.01.2014 -->
    @Html.Partial("~/Views/Partial/RightColumn.cshtml")
    <div class="clear"></div>
    <!-- Sağ kolon ypala 14.01.2014 -->
    <div>@Html.DisplayFor(model => model.Date)</div>
</div>

<p>
    @Html.ActionLink("Anasayfa", "Index")
</p>

<!-- Sosyal ağlar ypala 09.01.2014 -->
<div class="social-header">
    <div class="social_box" style="float: left;"><h3 style="margin:0 10px 0 0; padding:0;">Yorumlar</h3></div>
    <div class="social_box">
        <iframe src="//www.facebook.com/plugins/like.php?href=@Request.Url.AbsoluteUri&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=25&amp;appId=181708331898219" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px; width:100px;" allowtransparency="true"></iframe>
    </div>
    <div class="social_box">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="yagizhanpala">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="social_box">
        <div class="g-plusone" data-size="medium"></div>
    </div>
    <div style="clear: both"></div>
</div>
<!-- Sosyal ağlar ypala 10.09.2014 -->

<div>
    
    @{
        // Yorumları listele ypala 16.01.2015
        foreach (var c in Model.Comment)
        {
            <div style="margin: 20px 0; padding-bottom: 15px; border-bottom: 1px solid #e8e8e8;">
                <span style="font-size:12px;"><b>@c.Name</b> <i>@c.Date</i> tarihinde dedi ki:</span>
                <div style="margin-top: 12px;">@c.Content</div>
            </div>
        }
    }

</div>

<!-- Yorum ekle form ypala 16.01.2014 -->
<div id="commentViewEntry" style="width: 100%; background-color: #f5f5f5; padding: 20px;">
    <form ng-controller="CommentController">
        <div style="font-size: 14px; color: #ff0000; margin-bottom: 20px;">{{msg}}</div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">İsim*</label>
                <div class="col-md-10">
                    <input type="text" ng-model="name" placeholder="Adınız" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Email*</label>
                <div class="col-md-10">
                    <input type="text" ng-model="email" placeholder="Mail Adresiniz" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Yorumunuz*</label>
                <div class="col-md-10">
                    <textarea ng-model="content" placeholder="Yorumunuz" class="form-control text-box multi-line" style="width: 650px; height: 200px;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button ng-click='AddComment();' class="btn btn-default">Gönder</button>
                </div>
            </div>

        </div>
    </form>

</div>
<!-- Yorum ekle form ypala 16.01.2014 -->

<!-- gAnalytics -->
<script src="https://apis.google.com/js/platform.js" async defer>
    { lang: 'tr' }
</script>

<!-- AngularJs ypala 14.01.2014 -->
@section outofhtml
{
    <script type="text/javascript">
        var app = angular.module('app', ['ngSanitize']);
            
        app.controller('EntryController', function ($http, $scope) {
            $http.get("/Home/List").success(function (response) { $scope.entries = response });
        });

        // AddComment ypala 16.01.2015
        app.controller('CommentController', function ($http, $scope) {

            $scope.AddComment = function () {

                $http.post('/Home/AddComment', { 'name': $scope.name, 'email': $scope.email, 'content': $scope.content, 'entryId': @Html.DisplayFor(m => m.Id) }
                ).success(function (data, status, headers, config) {
                    $scope.name = "";
                    $scope.email = "";
                    $scope.content = "";
                    $scope.msg ="İlginiz için teşekkür ederim :). Yorumunuz ulaştı. En kısa sürede değerlendirilip yayınlanacaktır.";
                }).error(function (data, status) {
                    alert("Ters giden bir şeyler var :(. Girdiğiniz bilgileri kontrol edip tekrar dener misiniz?");
                });
            }
        });
        // AddComment
    </script>
}
